name: Rebuild and Deploy to Firebase Hosting

on:
  workflow_dispatch: # Allows manual triggering of the workflow
  schedule:
    - cron: '0 0 */5 * *' # Runs every 5 days at midnight
jobs:
    build_and_preview:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v2
          - run: yarn && yarn build
            env:
                MERCURY_EMAIL: ${{ secrets.MERCURY_EMAIL }}
                MERCURY_PASSWORD: ${{ secrets.MERCURY_PASSWORD }}
          - uses: FirebaseExtended/action-hosting-deploy@v0
            with:
              repoToken: '${{ secrets.GITHUB_TOKEN }}'
              firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_STELLAR_INDEXED }}'
              projectId: stellar-indexed